@import "~bootstrap/scss/bootstrap";

$color-btn: white; 
$color-btn-text: #6b63b5; 
$small: 400px;
$medium: 900px;
$Gryffindor : '#FF0000';
$Hufflepuff : '#0597B7';
$Ravenclaw : '#FFC700';
$Slytherin : '#1C792B';

body { 
  background: url(https://i.ibb.co/GHsnWGY/Background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  font-size:50px;
 
}

h2{
  font-size:40px;
  
}

h3{
  font-size:35px;
  
}

h4{
  font-size:30px;
  
}
.Gryffindor{  
  background-color: $Gryffindor;  
}
.Hufflepuff{
  background-color: $Hufflepuff;
}
.Ravenclaw{
  background-color: $Ravenclaw;
}
.Slytherin{
  background-color: $Slytherin;
}

#MenuDesktop{
  color: white;
  position: absolute;
  top: 1%;
  left: 78%;
}

#MenuMovil{
  color: white;
  position: absolute;
  bottom:0px;
  right:25%;
}

.btn_left_movil{
  background-color: $color-btn-text;
  border-top-left-radius: 25px;
  padding: 13px;
}

.btn_right_movil{
  background-color: $color-btn-text;
  border-top-right-radius: 25px;
  padding: 15px;
}

.btn_left_movil:hover{
  background-color: $color-btn;
  color: $color-btn-text;
  cursor: pointer;
}

.img-fluid {
  width: 100%;
}

.btn_right_movil:hover{
  background-color: $color-btn;  
  color: $color-btn-text;
  cursor: pointer;
}

.btn_left:hover{
  background-color: $color-btn;
  color: $color-btn-text;
  cursor: pointer;
}

.btn_right:hover{
  background-color: $color-btn;  
  color: $color-btn-text;
  cursor: pointer;
}

.btn_left{
  background-color: $color-btn-text;
  border-bottom-left-radius: 25px;
  padding: 8px;
}

.btn_right{
  background-color: $color-btn-text;
  border-bottom-right-radius: 25px;
  padding: 10px;
}

.divider{
  width:2px;
  height:auto;
  display:inline-block;
  background-color: #554f91;
}
.header-card{
  background: linear-gradient(70deg, red, white);
  padding: 1em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.body-card{
  background-color: white;
  padding: 1em;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.header-card-movil{
  background: linear-gradient(70deg, red, white);
  padding: 1em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.body-card-movil{
  background-color: white;
  padding: 1em;
  
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.filter{  
  border: 10px solid #6B63B5;
  padding: .2em;
  margin: 0;
  color: white;
}

.point:hover{
  .filter{
    border-color:$color-btn;
  }  
}

.description-card{
  color: gray;
  font-size: 20px;
}

.text-select{
  color: white;
}

.description-card-desk{
  font-size: 16px;
}

.card-general{
  border-top-left-radius: 25px;
}



  
